body {
    font-family: 'Open Sans', Arial, sans-serif;

}

main {
    overflow: auto;
    margin-left: 20px;
  }

/*NAVBAR STYLING*/

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-right-color: rgb(131, 207, 207);
  }

  #navbar header {
    color: rgb(131, 207, 207);
    border: none;
  }

  #navbar ul {
    list-style: none;
    padding: 0;

  }

  /* #navbar li {
    margin: 15px 10px;
  } */

  #navbar a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgb(131, 207, 207);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;;
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }

header {
    font-size: 1.8em;
    padding: 5px 10px;
    border: 1px solid;
    border-color: rgb(131, 207, 207);
    border-radius: 5px;
    width: fit-content;
}

/* aside header {
    border: none;
}

aside {
    padding-right: 20px;
    border-right: 2px solid rgb(131, 207, 207);
} */

code {
    display: block;
    padding: 15px;
    background: #fee8e8;
    margin: 10px;
    line-height: 2;
    border-radius: 5px;
}

section {
    padding-top: 30px;
}
